{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Boot Camp Setup (Mac OS X)" />
{% endblock file_metadata %}

{% block content %}

<p>This guide provides tutorials for installing the software necessary for the boot camp. All installation should be completed prior to the beginning of the boot camp. Note that installation must be done as a root user or a user with certain administrator privileges. If you run into problems with installation, contact your boot camp's host as soon as possible.</p>

<p>All installation techniques have been tested using Mac OSX 10.7.4. 
<br/>
Mac OSX 10.7.4 already comes with the following installed: bash shell, vi and nano text editors, Python 2.7, Python setuptools, SQLite3.
</p>

<div class="toc">
<h3>Contents</h3>
<ul>
    <li><a href="#terminal">The Shell</a></li>
    <li><a href="#make">Make</a></li>
    <li><a href="#python">Python 2.7</a></li>
    <li><a href="#packages">Python Package Installer</a></li>
    <li><a href="#vc">Version control</a></li>
    <li><a href="#firefox">Firefox</a></li>
</ul>
</div>

<hr>
<h3>The Shell</h3>
<p>Mac OSX 10.7.4 comes with bash shell (the terminal) installed. You can access it several ways:</p>

<div class="indent">
<p>(1) In the Applications/Utils folder on your Mac, you can find Terminal. Double click on it to open the shell.</p>
<img class="setup" src="{{root_path}}/img/setup/terminal3.png" alt="The terminal screenshot 3" />
<br />

<p>(2) Using the Search feature on your Mac (upper right corner), search for "terminal:</p>
<img class="setup" src="{{root_path}}/img/setup/terminal4.png" alt="The terminal screenshot 4" />
<br />
</div>

<p>Open the terminal. You should see a new terminal screen pop up on your computer. For ease of use, you may want to pin the terminal to your sidebar permanently.</p>
<img class="setup" src="{{root_path}}/img/setup/terminal1.png" alt="The terminal screenshot 2" />
<br />


<hr>
<h3>Install make</h3>
<p>If you do not already have access to <code>make</code> from within your shell, you will need to install XCode (which is free)</p>
<ul>
<li>Go to the Apple app store</li>
<li>Search for XCode</li>
<li>Click <strong>Free</strong></li>
<li>Click <strong>Install App</strong></li>
</ul>
<p>Once XCode has installed</p>
<ul>
<li>Click <strong>Applications</strong></li>
<li>Click <strong>XCode</strong></li>
<li>Select <strong>XCode</strong> =&gt; <strong>Preferences...</strong></li>
<li>Click <strong>Downloads</strong></li>
<li>Select <strong>Command Line Tools</strong></li>
<li>Click <strong>Install</strong></li>
</ul>
<p>You will now be able to run <code>make</code> within your bash shell.</p>

<hr>
<h3>Install Python nose</h3>
<p>Run <code> </code></p>
<p><code>$ easy_install nose </code></p>
<p>And check <code> </code></p>
<p><code>$ nosetests </code></p>
<p><code></code><code>---------------------------------------------------------------------- </code><code>Ran 0 tests in 0.003s</code></p>
<p><code>OK </code></p>

<hr>
<h3>Install Mercurial</h3>
<p>Download the Mac binary package from <a href="http://mercurial.selenic.com/">http://mercurial.selenic.com/</a>.</p>

<hr>
<h3>Install EasyMercurial</h3>
<p>Download the Mac binary package from <a href="https://code.soundsoftware.ac.uk/projects/easyhg/files">https://code.soundsoftware.ac.uk/projects/easyhg/files</a>.</p>

<hr>
<h3>Install Firefox</h3>
<p>You can download Firefox from the Mozilla web site at <a href="http://www.mozilla.org/en-US/firefox/new/">http://www.mozilla.org/en-US/firefox/new/</a>.</p>

{% endblock content %}
